<a href="/">Home</a> 

<% if(userName) { %>
    <a href="/jobs">Jobs</a>
    <a href="/logout">Logout</a>
    <span> Welcome <%= userName %></span>
<% } else { %>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
<% } %>