<h1>Create new Job</h1>

<form action="/jobs" method="POST">
    <div>
        <label>Job Title</label>
        <input type="text" name="title">
    </div>

    <div>
        <lable>Company</lable>
        <input type="text" name="company">
    </div>

    <div>
        <label>Location</label>
        <input type="text" name="location">
    </div>

    <button type="submit">
        Create Job
    </button>
</form>