<!DOCTYPE>
<html>
    <head>
        <title>Job Portal</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("partials/navbar") %>

        <%- body %>

        <footer>
            <p>Job App</p>
        </footer>
    </body>
</html>