<!DOCTYPE>
<html>
    <head>
        <title>Job Portal</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("partials/navbar") %>

        <% if(lastVisit) { %>
          <p>Last Visit: <%= lastVisit %></p>  
        <% } %>
        
        <%- body %>

        <footer>
            <p>Job App</p>
        </footer>
    </body>
</html>